.my-menu {
  position: relative;
  $btn-size: 3.2rem;
  $tooltip-size: 1rem;

  &.is-active {
    .my-menu-btn {
      border-color: $blue;
    }

    .my-menu-content {
      display: block;
    }
  }

  &-btn {
    width: $btn-size;
    height: $btn-size;
    background-image: url(./assets/images/img-user-default.png);
    background-position: center center;
    background-size: cover;
    border: 0.3rem solid $white;
    border-radius: 50%;
    overflow: hidden;
    transition: border-color 200ms ease-in-out;

    &:hover {
      border-color: $blue;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    @include pos-center-x;
    top: $btn-size + $tooltip-size + 0.8rem;
    display: none;
    border-radius: 0.4rem;
    box-shadow: $dropdown-shadow;

    &::before,
    &::after {
      @include pos-center-x;
      top: -#{$tooltip-size * 2};
      display: block;
      width: 0;
      height: 0;
      content: '';
      border-top: $tooltip-size solid transparent;
      border-right: calc(#{$tooltip-size} - 2px) solid transparent;
      border-bottom: $tooltip-size solid $border;
      border-left: calc(#{$tooltip-size} - 2px) solid transparent;
    }

    &::after {
      top: calc(-#{$tooltip-size * 2} + 2px);
      border-bottom-color: $white;
    }
  }

  &-list {
    width: 20rem;
    padding: 0.8rem;
    background-color: $white;
    border: 0.1rem solid $border;
    border-radius: 0.4rem;
  }

  &-item {
    a,
    button {
      @include flexbox(start);
      @include text-style(16, $primary);
      height: 4.4rem;
      padding: 0 0.8rem;
      border-radius: 0.2rem;

      &:hover {
        background-color: $background;
      }
    }
  }
}
