.product-section {
  padding-bottom: 2rem;

  @include responsive(T) {
    padding-bottom: 8rem;
    max-width: 69.2rem;
    margin: 0 auto;
  }

  @include responsive(D) {
    max-width: none;
    margin: 0;
  }
}

.product-section-divider {
  height: 0.8rem;
  margin: 0 -#{$grid-margin};
  background-color: $border;
}
