.product-spec {
  position: relative;
  padding-top: 2rem;
  overflow: hidden;

  &-content {
    height: 45rem;
  }

  &.is-open {
    .product-spec-content {
      height: auto;
    }

    .btn-wrapper {
      display: none;
    }
  }

  &.is-open {
    height: auto;

    .btn-wrapper {
      display: none;
    }
  }

  .btn-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 2rem;
    background-color: $white;

    &::before {
      position: absolute;
      display: block;
      width: 100%;
      height: 6.4rem;
      bottom: 2rem + 5.5rem; // padding-bottom + btn-height
      content: '';
      background: linear-gradient(to top, $white, transparent);
    }

    button {
      width: 100%;
    }
  }

  &-imgs {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  @include responsive(T) {
    padding-top: 8rem;

    &-content {
      height: auto;
    }

    .product-table {
      margin-top: 4rem;
    }
  }
}
