@font-face {
  font-family: 'tomorrow';
  src: url('./assets/fonts/tomorrow.eot?h1t1lz');
  src: url('./assets/fonts/tomorrow.eot?h1t1lz#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/tomorrow.ttf?h1t1lz') format('truetype'),
    url('./assets/fonts/tomorrow.woff?h1t1lz') format('woff'),
    url('./assets/fonts/tomorrow.svg?h1t1lz#tomorrow') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
