%tag-base {
  @include inline-flexbox;
  @include text-style(12);
  height: 2rem;
  padding: 0 0.6rem;
  border-radius: 0.4rem;
}

.tag-red {
  @extend %tag-base;
  font-weight: 700;
  color: $white;
  background-color: $red;
}

.tag-gray {
  @extend %tag-base;
  color: $secondary;
  background-color: $border;
}

.tag-green {
  @extend %tag-base;
  color: $white;
  background-color: $green;
}
