.gnb {
  position: relative;
  z-index: $gnb-level;
  height: $gnb-height-sm;
  background-color: $white;
  border-bottom: 0.1rem solid $border;

  &-wrapper {
    @include flexbox(between);
    height: $gnb-height-sm;
  }

  .logo {
    @include pos-center;

    a {
      display: block;
    }

    img {
      display: block;
      height: 2rem;
    }
  }

  .btn-group {
    @include flexbox(end);

    .btn-icon:first-child {
      margin-right: 0.4rem;
    }
  }

  @include responsive(T) {
    height: $gnb-height-md;

    &-wrapper {
      height: $gnb-height-md;
    }

    &-left {
      @include flexbox(start);
    }

    .logo {
      position: static;
      transform: none;

      img {
        height: 2.4rem;
      }
    }

    &-right {
      @include flexbox(end);
    }

    .btn-group {
      margin-right: 2.4rem;

      .btn-icon {
        margin-right: 0.8rem;

        &:first-child {
          margin-right: 0.8rem;
        }
      }
    }

    &-auth {
      $padding: 0.6rem;
      margin-left: 0.8rem - $padding;

      a {
        @include text-style(14, $secondary);
        padding: $padding;
        margin-right: 1.2rem - ($padding * 2);
        font-weight: 700;

        &:hover {
          color: $blue;
        }
      }
    }

    .btn-primary {
      width: 8.8rem;

      i {
        padding-left: 0.4rem;
        font-size: 2rem;
      }
    }
  }

  @include responsive(D) {
    .input-group {
      position: relative;
      margin-right: 2.4rem;

      &.is-active {
        .search-history {
          pointer-events: auto;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
