.lnb {
  z-index: $lnb-level;
  height: $lnb-height-sm;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: $white;

  &::-webkit-scrollbar {
    display: none;
  }

  &-wrapper {
    margin: 0 -0.8rem;
  }

  &-list {
    @include inline-flexbox(start);
    width: auto;
    min-width: 100vw;
    height: $lnb-height-sm;
    padding-left: 0.8rem;
    margin-left: -0.8rem;
    border-bottom: 0.1rem solid $border;
  }

  &-item {
    a {
      @include flexbox;
      @include text-style(13, $primary);
      height: $lnb-height-sm;
      padding: 1rem 0.8rem;
      font-weight: 700;
      white-space: nowrap;
      border-bottom: 0.2rem solid transparent;

      &:hover {
        color: $blue;
      }
    }

    &.is-active {
      a {
        color: $blue;
        border-bottom-color: $blue;
      }
    }
  }

  @include responsive(T) {
    height: $lnb-height-md;
    overflow: visible;
    border-bottom: 0.1rem solid $border;

    &-wrapper {
      margin: 0;
    }

    &-list {
      min-width: auto;
      height: $lnb-height-md;
      padding-left: 0;
      margin-left: 0;
      border-bottom: 0;
    }

    &-item {
      a {
        @include text-style(14);
        height: $lnb-height-md;
      }
    }
  }
}
