$font-main: 'Noto Sans KR', sans-serif;
$font-price: 'Tahoma', sans-serif;

$font-size-12: 1.2rem;
$line-height-12: 1.3333;
$letter-spacing-12: -0.005em;

$font-size-13: 1.3rem;
$line-height-13: 1.5385;
$letter-spacing-13: -0.01em;

$font-size-14: 1.4rem;
$line-height-14: 1.7143;
$letter-spacing-14: -0.01em;

$font-size-16: 1.6rem;
$line-height-16: 1.5;
$letter-spacing-16: -0.01em;

$font-size-18: 1.8rem;
$line-height-18: 1.5556;
$letter-spacing-18: -0.02em;

$font-size-24: 2.4rem;
$line-height-24: 1.4167;
$letter-spacing-24: -0.01em;
